PORT=4000
DATABASE_URL="postgresql://postgres:postgrespassword@postgres:5432/musicdb?schema=public"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=musicdb
POSTGRES_PORT=5432


JWT_ACCESS_SECRET=your_very_strong_access_secret_here
JWT_REFRESH_SECRET=your_very_strong_refresh_secret_here
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d


LOG_LEVEL=info        
LOG_MAX_SIZE=10k      
LOG_MAX_FILES=5